# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [3]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [4]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [5]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [6]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
   {'code': 'EX', 'name': 'Education'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
   {'code': 'EX', 'name': 'Education'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
   {'code': '11', 'name': ''}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocDate': '28-AUG-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'EntityID': '090224b081e545fb_1_0'},
   {'DocDate': '01-JUL-2013',
    'DocType': 'IP',
    'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'EntityID': '000442464_20130920111729'},
   {'DocDate': '22-NOV-2012',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'EntityID': '090224b0817b19e2_1_0'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
   {'code': 'ES', 'name': 'Secondary education'},
   {'code': 'BS', 'name': 'Public administration- Other social services'},
   {'code': 'ET', 'name': 'Tertiary education'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'code': 'BX',
    'name': 'Public Administration, Law, and Justice'},
   {'code': 'BX', 'name': 'Public Administration, Law, and Justice'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'code': '1', 'name': 'Economic management'},
   {'code': '6', 'name': 'Social protection and risk management'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'EntityID': '000333037_20131024115616'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'EntityID': '000356161_20131024151611'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'EntityID': '000442464_20131031112136'},
   {'DocDate': '29-MAR-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'EntityID': '000333037_20131031105716'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'ISDS',
    'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'EntityID': '000356161_20130305113209'},
   {'DocDate': '16-JAN-2013',
    'DocType': 'PID',
    'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'EntityID': '000356161_20130305113716'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'code': 'BS',
    'name': 'Public administration- Other social services'},
   {'code': 'BZ', 'name': 'General public administration sector'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'code': '24', 'name': 'Other economic management'},
   {'code': '54', 'name': 'Social safety nets'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [7]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [8]:
# load as Pandas dataframe
worldbank_json_df = pd.read_json('data/world_bank_projects.json')
worldbank_json_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [9]:
#print info
worldbank_json_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 199.2+ KB

In [10]:
#1.Find the 10 countries with most projects
worldbank_json_df.countryname.value_counts()[:10]

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [22]:
worldbank_json_namecode_df=worldbank_json_df['mjtheme_namecode'].apply(pd.Series)
#[worldbank_json_df['mjtheme_namecode'][i] for i in range(len(worldbank_json_df['mjtheme_namecode']))]
#new_df
worldbank_json_namecode_df
#worldbank_json_namecode_df=pd.melt(worldbank_json_namecode_df)
#worldbank_json_namecode_df=worldbank_json_namecode_df.drop(['variable'],axis=1)
#worldbank_json_namecode_df1=worldbank_json_namecode_df['value'].apply(pd.Series)
#worldbank_json_namecode_df1.groupby('name')['code'].count().sort_values(ascending=False)

,0,1,2,3,4
0,"{'code': '8', 'name': 'Human development'}","{'code': '11', 'name': ''}",NaN,NaN,NaN
1,"{'code': '1', 'name': 'Economic management'}","{'code': '6', 'name': 'Social protection and r...",NaN,NaN,NaN
2,"{'code': '5', 'name': 'Trade and integration'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '11', 'name': 'Environment and natura...","{'code': '6', 'name': 'Social protection and r...",NaN
3,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN,NaN
4,"{'code': '5', 'name': 'Trade and integration'}","{'code': '4', 'name': 'Financial and private s...",NaN,NaN,NaN
5,"{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': ''}",NaN,NaN,NaN
6,"{'code': '2', 'name': 'Public sector governance'}","{'code': '4', 'name': 'Financial and private s...",NaN,NaN,NaN
7,"{'code': '11', 'name': 'Environment and natura...","{'code': '8', 'name': ''}",NaN,NaN,NaN
8,"{'code': '10', 'name': 'Rural development'}","{'code': '7', 'name': ''}",NaN,NaN,NaN
9,"{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}",NaN,NaN
10,"{'code': '10', 'name': 'Rural development'}","{'code': '2', 'name': ''}",NaN,NaN,NaN
11,"{'code': '10', 'name': 'Rural development'}","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '11', 'name': 'Environment and natura...",NaN
12,"{'code': '4', 'name': ''}",NaN,NaN,NaN,NaN
13,"{'code': '5', 'name': 'Trade and integration'}","{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}",NaN,NaN
14,"{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...",NaN,NaN
15,"{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...","{'code': '5', 'name': 'Trade and integration'}",NaN,NaN
16,"{'code': '10', 'name': 'Rural development'}","{'code': '2', 'name': ''}",NaN,NaN,NaN
17,"{'code': '8', 'name': 'Human development'}","{'code': '7', 'name': ''}",NaN,NaN,NaN
18,"{'code': '8', 'name': 'Human development'}","{'code': '8', 'name': 'Human development'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '8', 'name': 'Human development'}"
19,"{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}",NaN,NaN
20,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN,NaN
21,"{'code': '9', 'name': 'Urban development'}","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN,NaN
22,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN,NaN
23,"{'code': '8', 'name': 'Human development'}","{'code': '8', 'name': 'Human development'}",NaN,NaN,NaN
24,"{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '6', 'name': 'Social protection and r...",NaN
25,"{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...",NaN,NaN
26,"{'code': '4', 'name': 'Financial and private s...","{'code': '5', 'name': 'Trade and integration'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '8', 'name': 'Human development'}",NaN
27,"{'code': '11', 'name': 'Environment and natura...","{'code': '2', 'name': 'Public sector governance'}","{'code': '5', 'name': 'Trade and integration'}","{'code': '6', 'name': 'Social protection and r...",NaN
28,"{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN
29,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '11', 'name': 'Environment and natura...",NaN,NaN,NaN
...,...,...,...,...,...
470,"{'code': '5', 'name': 'Trade and integration'}","{'code': '10', 'name': 'Rural development'}",NaN,NaN,NaN
471,"{'code': '10', 'name': 'Rural development'}","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '11', 'name': 'Environment and natura...","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN
472,"{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': ''}",NaN,NaN,NaN
473,"{'code': '11', 'name': 'Environment and natura...","{'code': '4', 'name': ''}",NaN,NaN,NaN
474,"{'code': '9', 'name': 'Urban development'}","{'code': '9', 'name': 'Urban development'}",NaN,NaN,NaN
475,"{'code': '4', 'name': 'Financial and private s...","{'code': '9', 'name': 'Urban development'}",NaN,NaN,NaN
476,"{'code': '10', 'name': 'Rural development'}","{'code': '8', 'name': ''}",NaN,NaN,NaN
477,"{'code': '4', 'name': 'Financial and private s...","{'code': '10', 'name': 'Rural development'}",NaN,NaN,NaN
478,"{'code': '2', 'name': 'Public sector governance'}","{'code': '3', 'name': 'Rule of law'}","{'code': '11', 'name': 'Environment and natura...",NaN,NaN
479,"{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '1', 'name': ''}",NaN,NaN,NaN
480,"{'code': '2', 'name': 'Public sector governance'}","{'code': '11', 'name': ''}",NaN,NaN,NaN
481,"{'code': '8', 'name': 'Human development'}","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '8', 'name': 'Human development'}",NaN
482,"{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}",NaN
483,"{'code': '11', 'name': 'Environment and natura...","{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...",NaN
484,"{'code': '10', 'name': 'Rural development'}","{'code': '4', 'name': 'Financial and private s...","{'code': '7', 'name': 'Social dev/gender/inclu...","{'code': '10', 'name': 'Rural development'}",NaN
485,"{'code': '8', 'name': 'Human development'}","{'code': '4', 'name': ''}",NaN,NaN,NaN
486,"{'code': '2', 'name': 'Public sector governance'}","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...",NaN
487,"{'code': '11', 'name': 'Environment and natura...","{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': 'Environment and natura...",NaN
488,"{'code': '8', 'name': 'Human development'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '8', 'name': 'Human development'}",NaN
489,"{'code': '9', 'name': 'Urban development'}","{'code': '6', 'name': 'Social protection and r...","{'code': '6', 'name': 'Social protection and r...","{'code': '9', 'name': 'Urban development'}",NaN
490,"{'code': '2', 'name': 'Public sector governance'}","{'code': '2', 'name': 'Public sector governance'}",NaN,NaN,NaN
491,"{'code': '10', 'name': 'Rural development'}","{'code': '11', 'name': ''}",NaN,NaN,NaN
492,"{'code': '8', 'name': 'Human development'}","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN,NaN
493,"{'code': '11', 'name': 'Environment and natura...","{'code': '5', 'name': ''}",NaN,NaN,NaN
494,"{'code': '6', 'name': 'Social protection and r...","{'code': '8', 'name': ''}",NaN,NaN,NaN
495,"{'code': '4', 'name': 'Financial and private s...","{'code': '7', 'name': 'Social dev/gender/inclu...",NaN,NaN,NaN
496,"{'code': '8', 'name': 'Human development'}","{'code': '5', 'name': 'Trade and integration'}","{'code': '2', 'name': 'Public sector governance'}","{'code': '8', 'name': 'Human development'}",NaN
497,"{'code': '10', 'name': 'Rural development'}","{'code': '6', 'name': ''}",NaN,NaN,NaN
498,"{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}","{'code': '10', 'name': 'Rural development'}",NaN,NaN
499,"{'code': '9', 'name': 'Urban development'}","{'code': '8', 'name': 'Human development'}","{'code': '5', 'name': 'Trade and integration'}","{'code': '4', 'name': 'Financial and private s...",NaN

In [30]:

#melt
worldbank_json_namecode_df1=pd.melt(worldbank_json_namecode_df)
worldbank_json_namecode_df1

      variable                                              value
0            0         {'code': '8', 'name': 'Human development'}
1            0       {'code': '1', 'name': 'Economic management'}
2            0     {'code': '5', 'name': 'Trade and integration'}
3            0  {'code': '7', 'name': 'Social dev/gender/inclu...
4            0     {'code': '5', 'name': 'Trade and integration'}
5            0  {'code': '6', 'name': 'Social protection and r...
6            0  {'code': '2', 'name': 'Public sector governance'}
7            0  {'code': '11', 'name': 'Environment and natura...
8            0        {'code': '10', 'name': 'Rural development'}
9            0  {'code': '2', 'name': 'Public sector governance'}
10           0        {'code': '10', 'name': 'Rural development'}
11           0        {'code': '10', 'name': 'Rural development'}
12           0                          {'code': '4', 'name': ''}
13           0     {'code': '5', 'name': 'Trade and integration'}
14           0  {'code': '6', 'name': 'Social protection and r...
15           0        {'code': '10', 'name': 'Rural development'}
16           0        {'code': '10', 'name': 'Rural development'}
17           0         {'code': '8', 'name': 'Human development'}
18           0         {'code': '8', 'name': 'Human development'}
19           0  {'code': '2', 'name': 'Public sector governance'}
20           0  {'code': '7', 'name': 'Social dev/gender/inclu...
21           0         {'code': '9', 'name': 'Urban development'}
22           0  {'code': '7', 'name': 'Social dev/gender/inclu...
23           0         {'code': '8', 'name': 'Human development'}
24           0        {'code': '10', 'name': 'Rural development'}
25           0  {'code': '11', 'name': 'Environment and natura...
26           0  {'code': '4', 'name': 'Financial and private s...
27           0  {'code': '11', 'name': 'Environment and natura...
28           0        {'code': '10', 'name': 'Rural development'}
29           0  {'code': '7', 'name': 'Social dev/gender/inclu...
...        ...                                                ...
2470         4                                                NaN
2471         4                                                NaN
2472         4                                                NaN
2473         4                                                NaN
2474         4                                                NaN
2475         4                                                NaN
2476         4                                                NaN
2477         4                                                NaN
2478         4                                                NaN
2479         4                                                NaN
2480         4                                                NaN
2481         4                                                NaN
2482         4                                                NaN
2483         4                                                NaN
2484         4                                                NaN
2485         4                                                NaN
2486         4                                                NaN
2487         4                                                NaN
2488         4                                                NaN
2489         4                                                NaN
2490         4                                                NaN
2491         4                                                NaN
2492         4                                                NaN
2493         4                                                NaN
2494         4                                                NaN
2495         4                                                NaN
2496         4                                                NaN
2497         4                                                NaN
2498         4                                                NaN
2499         4                                                NaN

[2500 rows x 2 columns]

In [31]:
#Drop the varaible column
worldbank_json_namecode_df1=worldbank_json_namecode_df1.drop(['variable'],axis=1)
worldbank_json_namecode_df1

                                                  value
0            {'code': '8', 'name': 'Human development'}
1          {'code': '1', 'name': 'Economic management'}
2        {'code': '5', 'name': 'Trade and integration'}
3     {'code': '7', 'name': 'Social dev/gender/inclu...
4        {'code': '5', 'name': 'Trade and integration'}
5     {'code': '6', 'name': 'Social protection and r...
6     {'code': '2', 'name': 'Public sector governance'}
7     {'code': '11', 'name': 'Environment and natura...
8           {'code': '10', 'name': 'Rural development'}
9     {'code': '2', 'name': 'Public sector governance'}
10          {'code': '10', 'name': 'Rural development'}
11          {'code': '10', 'name': 'Rural development'}
12                            {'code': '4', 'name': ''}
13       {'code': '5', 'name': 'Trade and integration'}
14    {'code': '6', 'name': 'Social protection and r...
15          {'code': '10', 'name': 'Rural development'}
16          {'code': '10', 'name': 'Rural development'}
17           {'code': '8', 'name': 'Human development'}
18           {'code': '8', 'name': 'Human development'}
19    {'code': '2', 'name': 'Public sector governance'}
20    {'code': '7', 'name': 'Social dev/gender/inclu...
21           {'code': '9', 'name': 'Urban development'}
22    {'code': '7', 'name': 'Social dev/gender/inclu...
23           {'code': '8', 'name': 'Human development'}
24          {'code': '10', 'name': 'Rural development'}
25    {'code': '11', 'name': 'Environment and natura...
26    {'code': '4', 'name': 'Financial and private s...
27    {'code': '11', 'name': 'Environment and natura...
28          {'code': '10', 'name': 'Rural development'}
29    {'code': '7', 'name': 'Social dev/gender/inclu...
...                                                 ...
2470                                                NaN
2471                                                NaN
2472                                                NaN
2473                                                NaN
2474                                                NaN
2475                                                NaN
2476                                                NaN
2477                                                NaN
2478                                                NaN
2479                                                NaN
2480                                                NaN
2481                                                NaN
2482                                                NaN
2483                                                NaN
2484                                                NaN
2485                                                NaN
2486                                                NaN
2487                                                NaN
2488                                                NaN
2489                                                NaN
2490                                                NaN
2491                                                NaN
2492                                                NaN
2493                                                NaN
2494                                                NaN
2495                                                NaN
2496                                                NaN
2497                                                NaN
2498                                                NaN
2499                                                NaN

[2500 rows x 1 columns]

In [62]:
#create new df to extract code and name from dictionary to DF columns as code and name
worldbank_json_namecode_df2=worldbank_json_namecode_df1['value'].apply(pd.Series)
worldbank_json_namecode_df2

/usr/local/anaconda/lib/python3.6/site-packages/pandas/core/indexes/api.py:43: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  union = _union_indexes(indexes)
/usr/local/anaconda/lib/python3.6/site-packages/pandas/core/indexes/api.py:77: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)

     code                                          name   0
0       8                             Human development NaN
1       1                           Economic management NaN
2       5                         Trade and integration NaN
3       7                   Social dev/gender/inclusion NaN
4       5                         Trade and integration NaN
5       6         Social protection and risk management NaN
6       2                      Public sector governance NaN
7      11  Environment and natural resources management NaN
8      10                             Rural development NaN
9       2                      Public sector governance NaN
10     10                             Rural development NaN
11     10                             Rural development NaN
12      4                                               NaN
13      5                         Trade and integration NaN
14      6         Social protection and risk management NaN
15     10                             Rural development NaN
16     10                             Rural development NaN
17      8                             Human development NaN
18      8                             Human development NaN
19      2                      Public sector governance NaN
20      7                   Social dev/gender/inclusion NaN
21      9                             Urban development NaN
22      7                   Social dev/gender/inclusion NaN
23      8                             Human development NaN
24     10                             Rural development NaN
25     11  Environment and natural resources management NaN
26      4      Financial and private sector development NaN
27     11  Environment and natural resources management NaN
28     10                             Rural development NaN
29      7                   Social dev/gender/inclusion NaN
...   ...                                           ...  ..
2470  NaN                                           NaN NaN
2471  NaN                                           NaN NaN
2472  NaN                                           NaN NaN
2473  NaN                                           NaN NaN
2474  NaN                                           NaN NaN
2475  NaN                                           NaN NaN
2476  NaN                                           NaN NaN
2477  NaN                                           NaN NaN
2478  NaN                                           NaN NaN
2479  NaN                                           NaN NaN
2480  NaN                                           NaN NaN
2481  NaN                                           NaN NaN
2482  NaN                                           NaN NaN
2483  NaN                                           NaN NaN
2484  NaN                                           NaN NaN
2485  NaN                                           NaN NaN
2486  NaN                                           NaN NaN
2487  NaN                                           NaN NaN
2488  NaN                                           NaN NaN
2489  NaN                                           NaN NaN
2490  NaN                                           NaN NaN
2491  NaN                                           NaN NaN
2492  NaN                                           NaN NaN
2493  NaN                                           NaN NaN
2494  NaN                                           NaN NaN
2495  NaN                                           NaN NaN
2496  NaN                                           NaN NaN
2497  NaN                                           NaN NaN
2498  NaN                                           NaN NaN
2499  NaN                                           NaN NaN

[2500 rows x 3 columns]

In [64]:
#worldbank_json_namecode_df2[worldbank_json_namecode_df2['name']==""]=worldbank_json_namecode_df2['code']
worldbank_json_namecode_df2 = worldbank_json_namecode_df2.ffill( axis=1,inplace=False)
worldbank_json_namecode_df2

,code,name,0
0,8,Human development,Human development
1,1,Economic management,Economic management
2,5,Trade and integration,Trade and integration
3,7,Social dev/gender/inclusion,Social dev/gender/inclusion
4,5,Trade and integration,Trade and integration
5,6,Social protection and risk management,Social protection and risk management
6,2,Public sector governance,Public sector governance
7,11,Environment and natural resources management,Environment and natural resources management
8,10,Rural development,Rural development
9,2,Public sector governance,Public sector governance
10,10,Rural development,Rural development
11,10,Rural development,Rural development
12,4,,
13,5,Trade and integration,Trade and integration
14,6,Social protection and risk management,Social protection and risk management
15,10,Rural development,Rural development
16,10,Rural development,Rural development
17,8,Human development,Human development
18,8,Human development,Human development
19,2,Public sector governance,Public sector governance
20,7,Social dev/gender/inclusion,Social dev/gender/inclusion
21,9,Urban development,Urban development
22,7,Social dev/gender/inclusion,Social dev/gender/inclusion
23,8,Human development,Human development
24,10,Rural development,Rural development
25,11,Environment and natural resources management,Environment and natural resources management
26,4,Financial and private sector development,Financial and private sector development
27,11,Environment and natural resources management,Environment and natural resources management
28,10,Rural development,Rural development
29,7,Social dev/gender/inclusion,Social dev/gender/inclusion
...,...,...,...
2470,NaN,NaN,NaN
2471,NaN,NaN,NaN
2472,NaN,NaN,NaN
2473,NaN,NaN,NaN
2474,NaN,NaN,NaN
2475,NaN,NaN,NaN
2476,NaN,NaN,NaN
2477,NaN,NaN,NaN
2478,NaN,NaN,NaN
2479,NaN,NaN,NaN
2480,NaN,NaN,NaN
2481,NaN,NaN,NaN
2482,NaN,NaN,NaN
2483,NaN,NaN,NaN
2484,NaN,NaN,NaN
2485,NaN,NaN,NaN
2486,NaN,NaN,NaN
2487,NaN,NaN,NaN
2488,NaN,NaN,NaN
2489,NaN,NaN,NaN
2490,NaN,NaN,NaN
2491,NaN,NaN,NaN
2492,NaN,NaN,NaN
2493,NaN,NaN,NaN
2494,NaN,NaN,NaN
2495,NaN,NaN,NaN
2496,NaN,NaN,NaN
2497,NaN,NaN,NaN
2498,NaN,NaN,NaN
2499,NaN,NaN,NaN

In [65]:
worldbank_json_namecode_df2.dropna()
worldbank_json_namecode_df2

,code,name,0
0,8,Human development,Human development
1,1,Economic management,Economic management
2,5,Trade and integration,Trade and integration
3,7,Social dev/gender/inclusion,Social dev/gender/inclusion
4,5,Trade and integration,Trade and integration
5,6,Social protection and risk management,Social protection and risk management
6,2,Public sector governance,Public sector governance
7,11,Environment and natural resources management,Environment and natural resources management
8,10,Rural development,Rural development
9,2,Public sector governance,Public sector governance
10,10,Rural development,Rural development
11,10,Rural development,Rural development
12,4,,
13,5,Trade and integration,Trade and integration
14,6,Social protection and risk management,Social protection and risk management
15,10,Rural development,Rural development
16,10,Rural development,Rural development
17,8,Human development,Human development
18,8,Human development,Human development
19,2,Public sector governance,Public sector governance
20,7,Social dev/gender/inclusion,Social dev/gender/inclusion
21,9,Urban development,Urban development
22,7,Social dev/gender/inclusion,Social dev/gender/inclusion
23,8,Human development,Human development
24,10,Rural development,Rural development
25,11,Environment and natural resources management,Environment and natural resources management
26,4,Financial and private sector development,Financial and private sector development
27,11,Environment and natural resources management,Environment and natural resources management
28,10,Rural development,Rural development
29,7,Social dev/gender/inclusion,Social dev/gender/inclusion
...,...,...,...
2470,NaN,NaN,NaN
2471,NaN,NaN,NaN
2472,NaN,NaN,NaN
2473,NaN,NaN,NaN
2474,NaN,NaN,NaN
2475,NaN,NaN,NaN
2476,NaN,NaN,NaN
2477,NaN,NaN,NaN
2478,NaN,NaN,NaN
2479,NaN,NaN,NaN
2480,NaN,NaN,NaN
2481,NaN,NaN,NaN
2482,NaN,NaN,NaN
2483,NaN,NaN,NaN
2484,NaN,NaN,NaN
2485,NaN,NaN,NaN
2486,NaN,NaN,NaN
2487,NaN,NaN,NaN
2488,NaN,NaN,NaN
2489,NaN,NaN,NaN
2490,NaN,NaN,NaN
2491,NaN,NaN,NaN
2492,NaN,NaN,NaN
2493,NaN,NaN,NaN
2494,NaN,NaN,NaN
2495,NaN,NaN,NaN
2496,NaN,NaN,NaN
2497,NaN,NaN,NaN
2498,NaN,NaN,NaN
2499,NaN,NaN,NaN

In [68]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')
#use group by name to get count and apply sort
worldbank_json_namecode_df2.groupby('name')['code'].count().sort_values(ascending=False)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: code, dtype: int64

In [89]:
#3.In 2. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.
worldbank_json_namecode_df3=worldbank_json_namecode_df2
worldbank_json_namecode_df3.loc[worldbank_json_namecode_df3['name']=='','name']=worldbank_json_namecode_df3.loc[worldbank_json_namecode_df3['name']=='','code']

In [93]:
worldbank_json_namecode_df3.groupby('name')['code'].count().sort_values(ascending=False)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
11                                               27
4                                                16
2                                                15
10                                               14
8                                                13
Rule of law                                      12
7                                                11
6                                                10
1                                                 5
5                                                 5
3                                                 3
9                                                 3
Name: code, dtype: int64

In [97]:
#another approach
#3.In 2. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.
worldbank_json_namecode_df4=worldbank_json_namecode_df2.copy()
worldbank_json_namecode_df4.apply(lambda x, y: x.where(x != '', y), y=worldbank_json_namecode_df4['code'])

,code,name,0
0,8,Human development,Human development
1,1,Economic management,Economic management
2,5,Trade and integration,Trade and integration
3,7,Social dev/gender/inclusion,Social dev/gender/inclusion
4,5,Trade and integration,Trade and integration
5,6,Social protection and risk management,Social protection and risk management
6,2,Public sector governance,Public sector governance
7,11,Environment and natural resources management,Environment and natural resources management
8,10,Rural development,Rural development
9,2,Public sector governance,Public sector governance
10,10,Rural development,Rural development
11,10,Rural development,Rural development
12,4,4,4
13,5,Trade and integration,Trade and integration
14,6,Social protection and risk management,Social protection and risk management
15,10,Rural development,Rural development
16,10,Rural development,Rural development
17,8,Human development,Human development
18,8,Human development,Human development
19,2,Public sector governance,Public sector governance
20,7,Social dev/gender/inclusion,Social dev/gender/inclusion
21,9,Urban development,Urban development
22,7,Social dev/gender/inclusion,Social dev/gender/inclusion
23,8,Human development,Human development
24,10,Rural development,Rural development
25,11,Environment and natural resources management,Environment and natural resources management
26,4,Financial and private sector development,Financial and private sector development
27,11,Environment and natural resources management,Environment and natural resources management
28,10,Rural development,Rural development
29,7,Social dev/gender/inclusion,Social dev/gender/inclusion
...,...,...,...
2470,NaN,NaN,NaN
2471,NaN,NaN,NaN
2472,NaN,NaN,NaN
2473,NaN,NaN,NaN
2474,NaN,NaN,NaN
2475,NaN,NaN,NaN
2476,NaN,NaN,NaN
2477,NaN,NaN,NaN
2478,NaN,NaN,NaN
2479,NaN,NaN,NaN
2480,NaN,NaN,NaN
2481,NaN,NaN,NaN
2482,NaN,NaN,NaN
2483,NaN,NaN,NaN
2484,NaN,NaN,NaN
2485,NaN,NaN,NaN
2486,NaN,NaN,NaN
2487,NaN,NaN,NaN
2488,NaN,NaN,NaN
2489,NaN,NaN,NaN
2490,NaN,NaN,NaN
2491,NaN,NaN,NaN
2492,NaN,NaN,NaN
2493,NaN,NaN,NaN
2494,NaN,NaN,NaN
2495,NaN,NaN,NaN
2496,NaN,NaN,NaN
2497,NaN,NaN,NaN
2498,NaN,NaN,NaN
2499,NaN,NaN,NaN

In [98]:
worldbank_json_namecode_df4.groupby('name')['code'].count().sort_values(ascending=False)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
11                                               27
4                                                16
2                                                15
10                                               14
8                                                13
Rule of law                                      12
7                                                11
6                                                10
1                                                 5
5                                                 5
3                                                 3
9                                                 3
Name: code, dtype: int64